<app-navbar-repartidores></app-navbar-repartidores>
<br>

<div class="container">
    <h1>Listado de Pedidos</h1>
    <div class="table-responsive">

        <div class="container-fluid" id="">
            <table class="table">
                <thead class="thead-dark">
                    <tr style="text-align: center;">
                        <th scope="col">Numero Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha del Pedido</th>
                        <th scope="col">Ubicacion</th>
                        <th scope="col">Aceptar</th>
                    </tr>
                </thead>
                <tbody id="listado">
                    <tr>
                        <th>1</th>
                        <th>Prueba</th>
                        <th>01/01/2021</th>
                        <th>Total</th>
                        <th>
                            <button type="button" class="btn btn-info btn-lg" 
                            data-toggle="modal" data-target="#myModal">Aceptar Pedido</button>
                        </th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>Prueb2</th>
                        <th>01/01/2021</th>
                        <th>Total</th>
                        <th>
                            <button type="button" class="btn btn-info btn-lg" 
                            data-toggle="modal" data-target="#myModal">Aceptar Pedido</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>
