<app-navbar></app-navbar>

<br><br><br><br>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td colspan="6" style="text-align: center;">
                        <h1 id="nuevoPedido">PRODUCTOS</h1>
                    </td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td></td>
                    <td colspan="2">Fecha Actual : <input type="date" disabled class="form-control"></td>
                    <td colspan="2">Pedido Numero: <input type="number" disabled class="form-control"></td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">Cliente : <input type="text" disabled class="form-control"></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6"></td>
                </tr> -->
                <!-- <tr>
                    <td colspan="2">
                        Categoria:
                        <select class="form-control">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Tent</option>
                            <option>Flashlight</option>
                            <option>Toilet Paper</option>
                        </select>
                    </td>
                    <td colspan="2">
                        Producto:
                        <select class="form-control">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Tent</option>
                            <option>Flashlight</option>
                            <option>Toilet Paper</option>
                        </select>
                    </td>
                    <td>
                        Cantidad:
                        <input type="number" class="form-control">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-lg">Agregar Produco</button>
                    </td>
                </tr> -->
                <tr>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">IVA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Subtotal : </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total IVA : </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Suma de IVA : </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>TOTAL : </td>
                            <td></td>
                        </tr>
                    </table>
                </tr>
                <tr>
                    <td colspan="5"></td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-lg">Realizar Pedido</button>
                    </td>
                </tr>
                <br>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
<app-footer></app-footer>
